body {
    background-color: gray;
}

/* Header Styles */
#headercontainer {
    justify-content: center;
    width: 100%;
    margin-top: 40px;
    overflow: auto;
    background-color: #002D72;
    padding-top: 2%;
    padding-bottom: 2%;
    border: 10px groove white;
    border-radius: 25px;
}
#headerRow {
    width: 100%;
    margin-bottom: 100px;
    background-color: white;
}
#hangman {
    float: left;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    width: 60%;
    font-size: 8vmax;
    font-family: 'Anton', sans-serif;
    color: #D50032;
}
#baseballEdition {
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    width: 100%;
    font-size: 4vmax;
    font-family: 'Sriracha', cursive;
    color: #D50032; 
}

.container {
    width: 100%;
}

#baseball1 {
    width: 20%;
    height: 20%;
    float: left;
}
#baseball2 {
    width: 20%;
    height: 20%;
    float: right;   
}

/* Answer Container */
#answercontainer {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 25px;
}
#answer {
    width: 100%;
    text-align: center;
    font-size: 6vmax;
}
#answerimage {
    justify-content: center;
    padding: 5%;
    overflow: auto;
}

/* Game Container */
#gamecontainer {
    background-color: dimgray;
    border: 5px groove white;
    border-radius: 25px;
    margin-bottom: 30px;
}
#gamerow1  {
    padding-right: 2%;
    padding-left: 2%;
    padding-top: 5%;
    padding-bottom: 5%;
    justify-content: center;
    font-size: 30px;
}
#gamerow2  {
    padding: 2%;
    justify-content: center;
    font-size: 25px;
}
#gamerow3  {
    padding: 2%;
    justify-content: center;
    font-size: 20px;
}
audio {
    display: none;
}