body {
    color: black;
}

#navBar {
    background: gray;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
}

.left {
    float: left;
    background: blue;
    width: 50%;
    height: 500px;
    text-align: center;
    line-height: 500px;
}

.right {
    float: right;
    background:red;
    width: 25%;
    height: 500px;
    text-align: center;
    line-height: 500px;
}

footer {
    clear: both;
    bottom: 0;
    width: 100%;
    position: fixed;
    background: green;
    text-align: center;
}