/* NavBar Styles */
#navbarname {
    background-color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-weight: bold;
    font-size: 22px;
    padding: 20px;
}
#navbar {
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: #dddddd solid;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 0px;
    padding-bottom: 0px;
    color: #777777;
}
.navbar-nav>li {
    border-right: 2px solid #dddddd;
    border-radius: 1;
}
.navbar-nav>li:last-child{
    border: none;
}
#contactnavbar {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    border-bottom: #dddddd solid;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 0px;
    padding-bottom: 0px;
}

/* Body Styles */
body {
    margin-bottom: 80px;
    background-image: url(file:///Users/abearden/Desktop/practice-folder/Alexander-Bearden-prework/Module-1_Assessement/assets/images/moroccan-flower.jpg);
}
#aboutbodycontainer {
    padding-right: 40px;
    padding-left: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 70%;
    background-color: #ffffff;
    border: #dddddd solid 1px;
}
#contactbodycontainer {
    padding-right: 40px;
    padding-left: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 60%;
    background-color: #ffffff;
    border: #dddddd solid 1px;
}
#pageheader {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#4aaaa5;
    padding-top: 20px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: #cccccc solid;
}
#aboutrow {
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 10px;
    padding-top: 10px;
    color: #777777;
}
#linkedinpic {
    max-width: 30%;
    height: auto;
    float: left;
    padding-right: 20px;
    padding-bottom: 20px;
}
#submitbutton {
    background-color: #4aaaa5;
    border-color: #4aaaa5;
    border-radius: 0;
}
.form-group {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
}
.card {
    margin-bottom: 20px;
}
.card-body {
    position: absolute;
    bottom: 5%;
    line-height: 80%;
    background-color: #4aaaa5;
    width: 100%;
    color: white;
    font-size: 1.5vmax;
    padding-top: 7%;
    padding-bottom: 7%;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Footer Styles */
#footer {
    background-color: #666666;
    color: #777777;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    border-top:#4aaaa5 solid 5px;
    padding-bottom: 0px;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    #linkedinpic {
        max-width: 50%;
    }
@media screen and (max-width: 576px) {
    body {
        margin-bottom: 40px;
    }
    #navbar {
        padding-left: 5%;
        padding-right: 5%;
        border-bottom: none;
    }
    #contactnavbar {
        padding-left: 5%;
        padding-right: 5%;
        border-bottom: none;
    }
    #aboutbodycontainer {
        width: 100%;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    #contactbodycontainer {
        width: 100%;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    #linkedinpic {
        max-width: 100%;
        float: none;
    }
    .card-body {
        font-size: 5vmax;
    }
}